.header1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
}
.row1{
    display: flex;
    justify-content: space-between;
    padding-bottom:2%;
}
.col1{
    border-color: lightgrey;
    border-radius: 10px;
    border-style: solid;
    width:50%;
    margin-left: 3%;
}
.col2{
    width:50%;
    border: 2px solid black;
    margin-left: 3%;
    border-color: lightgrey;
    border-radius: 10px;
    border-style: solid;
}
.col3{
    width:50%;
    border: 2px solid black;
    margin-left: 3%; 
    margin-left: 2%;
    border-color: lightgrey;
    border-radius: 10px;
    border-style: solid;
}
.col4{
    width:50%;
    border: 2px solid black;
    margin-right: 3%;
    margin-left: 3%;
    border-color: lightgrey;
    border-radius: 10px;
    border-style: solid;
}
@media screen and (max-width: 740px){
    .row1{
    display:block;
    }
    }
.btn2{
    background-color: white;
    color:blue;
    border-style: solid;
    border-radius: 6px;
    border-color: blue;
    padding: 10px 15px;
    font-weight: bolder;
}
.btn2:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.btn3{
    background-color: blue;
    color:white;
    border-style: solid;
    border-radius:6px;
    border-color: blue;
    padding: 8px 10px;
    font-weight: bolder;
}
.btn3:hover{
    background-color: white;
    color:blue;
    cursor: pointer;
}
.btn4{
    margin-bottom: 15%;
    margin-left: 18%;
    margin-top:5%;
    border-style: solid;
    text-align: center;
    border-radius: 25px;
    padding:10px 60px;
    color:white;
    background-color: rgb(26, 25, 25);
    font-weight: bolder;
}
.btn4:hover{
    background-color:black;
    cursor:pointer;
}
.learnmore{
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    padding: 10px 20px;
}
.learnmore:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.upper{
    padding-left: 5%;
    padding-top:4%;
}
.ul2{
    list-style: none;
}
.li2{
    line-height: 2;
}
.ul2 .li2::before{
    content:"✔️";
}

.discount{ 
    margin-left: 8%;
    text-align: center;
    border-radius:18px;
    border:2px solid lightgrey;
    padding:20px 20px;
    width: 80%;
}
.para1{
    padding-left: 5%;
    padding-right:5%;
}

